/* none */
body {
	font-size: 15px !important;
}

/* xs */
@media screen and (max-width: 575px) {
	body {
		font-size: 11px !important;
	}
}

/* sm */
@media screen and (min-width: 576px) and (max-width: 767px) {
	body {
		font-size: 13px !important;
	}
}

/* md */
@media screen and (min-width: 768px) and (max-width: 991px) {
	body {
		font-size: 14px !important;
	}
}

/* lg */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	body {
		font-size: 15px !important;
	}
}

/* xl */
@media screen and (min-width: 1200px) {
	body {
		font-size: 15px !important;
	}
}
